<div class="about-section">
  <h1>About Us Page</h1>
  <p>
    This platform is helping manage the delivered packages in campus, it has eliminated the paper wastage as
    everything is managed digitally here. The system uses OTP mechanism to authenticate each student and hence prevent
    misplacement of packages.
  </p>
  <p>
    Lost and Found Management module is enabling the user to click a photo of the found item or in case of lost item and
    share the info with their peers. The lost/found items are listed on the web page category wise which the owner can
    easily search and can collect
    from the given location.
  </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img
        src="https://media-exp1.licdn.com/dms/image/C5603AQEm8hjgZMLbtg/profile-displayphoto-shrink_800_800/0/1626720910647?e=1657756800&v=beta&t=xKMUCJ6HHXPGJ1J5MttFLxURIIhZpQGnlNg6FeNKp40"
        alt="Jane" style="width:100%">
      <div class="container">
        <h2>Amit Kumar</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="https://media-exp1.licdn.com/dms/image/C4D03AQFX1Ri2TL8SLg/profile-displayphoto-shrink_800_800/0/1647860156364?e=1657756800&v=beta&t=buFjAs9jmVUF2eUqYa1rPOYnJckCGyuwPtUdrl6izZE"
        alt="Mike" style="width:100%">
      <div class="container">
        <h2>Jayprakash Ray</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="https://media-exp1.licdn.com/dms/image/C4D03AQE3X87ihw2C1Q/profile-displayphoto-shrink_800_800/0/1638364817426?e=1657756800&v=beta&t=NBlsCHt3OktXR2eAE0KPL8x9yZqe_PZW-64tuiCm5mc"
        alt="John" style="width:100%">
      <div class="container">
        <h2>Khushal Abrol</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>